div#page_tale div#tale_header{
  background-color: yellow;
}



div#page_tale div#right_content{
  background-color: red;
  height: 100%;
}

div#page_tale div#right_content ul#pages{
  float: left;
  background-color: blue;
  width: 15%;
}

.active_page{
  float: left;
  background-color: gray;
  width: 70%;
  overflow: scroll;
}

.sound{
  clear: both;
  position:fixed;
  bottom: 0px;
  right: 0px;
  width: 100%;
  background-color: cyan;
  z-index: 20;
}



.book {
  background-color: lightgray;
  float: left;
  margin: 5px;
  display: none;
}

.book image {
  float: left;
}

.book p {

}


